body{
    background-color: #191308;
    color: antiquewhite;
    text-align: center;
}

div{
    border: 1px solid black;
    margin: 5% auto;
}

#box1{
    background-color: #322A26;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    
}

#box2{
    align-content: center;
    padding: 0%;
    border: none;
    font-size: 70%;
}

.face{
    width: 100%;
}

#box3{
    border: none;
    background-color: #322A26;
    align-items: center; 
    display: block;
    display: flex;
    align-items: center;
    margin: auto;
    width: 25%;
}