body{
    background-color: #EFD2CB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

h1{
    background-color: #D65780;
    border: #D65780;
    border-style: groove;
    border-color: #ee1459;
    border-radius: 2cm;
    font-size: 60px;
    text-align: center;
}

p1{
    background-color: #D65780;
    color: whitesmoke;
    border: #EE9480;
    font-size: 20px;
}

p2{
    color: #6C3A5C;
    font-size: 15px;
}

h2{
    background-color: #C7A27C;
    font-size: 35px;
    border-style: ridge;
    border-color: #f08d77;
}

h3{
    background-color: #C7A27C;
    font-size: 30px;
    border-style: ridge;
    border-color: #f08d77;
}

img{
    align-items: center;
}

ol{
    background-color: #D65780;
    border-style: inset;
    border-color: #ee1459;
    border-radius: 1cm;
}

ul{
    background-color: #D65780;
    border-style: inset;
    border-color: #ee1459;
    border-radius: 1cm;
}

.Bowls{
    border: none;
}
